/* Add this to your existing CSS file or create a new one */
@media (max-width: 768px) {

    /* Styles for screens smaller than 768px */
    .heading h1 {
        font-weight: 700;

        font-size: 40px;
        /* Adjust font size for smaller screens */
    }
}

/* for index.html file  */


* {
    margin: 0px;
    padding: 0px;
}


.myImage {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
}

.leftNavDiv {
    display: flex;
    justify-content: left;
    align-items: center;

}

.rightNavDiv {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}

/* .nav-link:hover {

    text-align: center;
    color: black;
    border-radius: 10px;
    color: white;
    background-color: black;
    transition: ease-in-out 0.5s;
} */


.title {
    font-size: 15px;
}

.title2 {
    font-size: 25px;

}


body {
    height: 100vh;
    margin: 0;
    background-color: silver;
    font-family: 'Nunito', sans-serif;
}

.indexBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.indexRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}



/* for about.php file */

.aboutPage {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: left;

}


/* for contact.php file */
.contactBody {
    display: flex;
    justify-content: center;

}

.links {
    font-size: 25px;
    margin: 5px;
    width: 20px;
}

.socialPanel {
    display: flex;
    position: absolute;
    top: 40%;
    left: 0px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 4rem;
    background-color: white;

}

.firstDiv {
    /* border: solid red 2px; */
    width: 500px;
    padding: 10px;
    margin: 10px;

}