/* for header.html file  */


* {
    margin: 0px;
    padding: 0px;
}

#name {
    color: black;
}


.myImage {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
}

.leftDiv {
    display: flex;
    justify-content: left;
    align-items: center;
}

.navDiv {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}



/* for index.php file */

.body {
    display: flex;
    background-color: silver;
    height: 655px;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.centerBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 700px;
    font-family: Nunito, sans-serif;
}


/* for about.php file */

.aboutPage {
    display: flex;
    background-color: silver;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0px;
    /* margin: 20px; */
    height: 100vh;

}