/* Certificates Page Styling */
.container {
    margin-top: 20px;
}

.certificates-section h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 30px;
}

/* Card Styles */
.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
    text-align: center;
}

.document-gallery .document-item {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.document-title {
    /* background-color: #007bff; */
    background-color: transparent;

    /* color: white; */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.btn {
    margin-top: 10px;
}

/* Modal Styles */
.modal-content {
    border-radius: 10px;
    overflow: hidden;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-self: center;
}

.modal-body img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}