@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;800&display=swap');


/* -----------for experience section---------- */
.container {
    margin-top: 20px;
}

.education-section h2 {
    color: #007bff;
}

.education-section {
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: #e9ecef;
}

.education-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-item h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #007bff;
}

.education-item p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    text-align: justify;
}

.education-item p strong {
    color: #007bff;
}

.education-item .year {
    font-weight: bold;
}

@media (max-width: 767px) {
    .education-item h3 {
        font-size: 20px;
    }

    .education-item p {
        font-size: 14px;
    }
}