@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;800&display=swap');

.container {
    margin-top: 20px;
}

.projects-section {
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: #e9ecef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projects-section h2 {
    margin-bottom: 20px;
    color: #007bff;
}

.project-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-item h3 {
    margin-bottom: 10px;
    color: #343a40;
}

.project-item p {
    margin-bottom: 10px;
    color: #495057;
    text-align: justify;

}

.project-item a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.project-item a:hover {
    text-decoration: underline;
}